footer p {
    text-align: center;
}

.p {
    font-size:20px;
}

.pp {
    font-size:15px;
}

.form {
    background-color:Brown;
}

select {
    padding: 10px;
    background-color: white;
    color: royalblue;
    border-radius: 10px;
    font-size: 20px;
    border: 3px solid navy;
}

select option {
    color: white;
    background-color: navy;
}

.pipi {
    font-size: 20px;
}

header img {
    width: 150px;
    height: 150px;
}

header {
    background-color: rgb(20, 50, 185);
    padding: 10px;
}

header a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: 20px;
}

main h1 {
    color: brown;
    text-align: center;
    font-size: 50px;
}

.icon{
    height: 350px;
    text-align: center;
    margin-top: 50px;
}

main h2 {
    text-align: center;
    font-size: 50px;
    background-color: springgreen;
    margin: 10px;
}

main p {
    font-size: 30px;
    text-align: center;
    background-color: cyan;
}
